.addItems{
  padding: 10px;
}
.inputGroup{
  display: flex;
  align-items: center;
}
.inputGroup input[type = "text"]{
  width: 100%;
  margin-right: 10px;
  height: 35px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ff7b00;
  background: #fff4df;
  padding: 0px 10px;
}
.inputGroup .addBtn{
  padding: 8px 10px;
    border: none;
    background: #ff8d21;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    transition: 0.2s;
}

.addBtn .plusSvg{
  color: #fff;
}

.inputGroup .addBtn:hover{
  opacity: 0.6;
}
